@{
  ViewData["Title"] = "Home";
}

@section Styles {
  <style>
    body>main {
      padding: 0rem;
    }
  </style>
}

<div class='pickerContainer'>
  <div style="text-align: center;">
    <button id="pick-btn">Select Folder</button>
    <p></p>
    <p id="status">No folder selected yet.</p>
  </div>
</div>

@section Scripts {
  <script src=/js/picker.js asp-append-version="true"></script>
}