<li>
  <details class="dropdown">
    <summary>
      <span class="fas fa-circle-user"></span>
    </summary>
    <ul>
      <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
    </ul>
  </details>
</li>