<li class="nav-item dropdown">
  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" type="button">
    <span class="fas fa-circle-user me-1"></span>Account
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item" asp-controller="Scrobble" asp-action="History">History</a></li>
    <li><a class="dropdown-item" asp-controller="Settings" asp-action="Index">Settings</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a></li>
  </ul>
</li>