<nav>
  <ul>
    <li>
      <strong>
        <a asp-controller="Home" asp-action="Index" style="text-decoration: none;">
          <i class="fas fa-music"></i> HMQS
        </a>
      </strong>
    </li>
  </ul>
  <ul>
  @if (User.Identity?.IsAuthenticated == true)
  {
    <partial name="_AvatarMenu" />
  }
  else
  {
    <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
    <li><a asp-controller="Auth" asp-action="Register">Register</a></li>
  }
  </ul>
</nav>