<nav>
  <ul>
    <li>
      <strong>
        <a asp-controller="Home" asp-action="Index" style="text-decoration: none;">
          <i class="fas fa-music"></i> HMQS
        </a>
      </strong>
    </li>
  </ul>
  <ul>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li> 
  </ul>
</nav>