<div x-data="window.hmqsPages.pickerDropdown()">
<div class="dropdown">
  <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-folder me-1"></i>
    <span x-text="getActiveFolderName()"></span>
  </button>

  <ul class="dropdown-menu">
    <template x-for="folder in state?.folders" :key="folder.id">
      <li>
        <button class="dropdown-item d-flex justify-content-between align-items-center" type="button"
           x-on:click.prevent="switchFolder(folder.id)">
          <span x-text="folder.name"></span>

          <span class="text-success" x-show="folder.id === state?.activeId">
            <i class="fa-solid fa-check"></i>
          </span>
        </button>
      </li>
    </template>

    <li><hr class="dropdown-divider"></li>
    <li>
      <button class="dropdown-item" type="button"
         x-on:click.prevent="addNewFolder()">
        <i class="fas fa-folder-plus me-1"></i>Add New
      </button>
    </li>
  </ul>
</div>
</div>