<progress value="50" max="100"></progress>
<div class="player-controls">
  <li><a><i class="fas fa-backward-step"></i></a></li>
  <li><a><i class="fas fa-play"></i></a></li>
  <li><a><i class="fas fa-forward-step"></i></a></li>
</div>