@model RegisterDto
@{
  ViewData["Title"] = "Register";
}

@section Styles {
  <style>
    body > main {
      padding: 2rem 10rem 0rem 10rem;
    }
  </style>
}

<form asp-action="Register" asp-controller="Auth" method="post">
  <fieldset>
    <h3>Register</h3>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <button type="submit">Register</button>
    <div asp-validation-summary="All"></div>
  </fieldset>
</form>